<!-- <div class="container">
  <h1>Dynamic Dashboard</h1>
  <button mat-raised-button color="primary" (click)="openAddWidgetModal()">
    Add Widget
  </button>
  <div class="tile-container" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <div *ngFor="let tile of tiles(); let i = index" class="tile" cdkDrag>
      <div class="tile-header">
        <span>{{ tile.type | titlecase }} Widget</span>
        <button mat-icon-button color="warn" (click)="removeWidget(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="tile-content">
        <ng-container *ngComponentOutlet="
            getComponent(tile.type);
            context: { data: tile.data }
          ">
        </ng-container>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <h1>Dynamic Dashboard</h1>
  <button mat-raised-button color="primary" (click)="openAddWidgetModal()">
    Add Widget
  </button>
  <div class="tile-container" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <div *ngFor="let tile of dashboardService.tiles(); let i = index" class="tile" cdkDrag>
      <div class="tile-header">
        <span>{{ tile.name }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editWidget(i)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-menu-item (click)="removeWidget(i)">
            <mat-icon>delete</mat-icon>
            Remove
          </button>
        </mat-menu>
      </div>
      <div class="tile-content">
        <ng-container *ngComponentOutlet="
            getComponent(tile.type);
            context: { data: tile.data }
          "></ng-container>
      </div>
    </div>
  </div>
</div>